

<div class="respmenu">
  <input type="checkbox">
  <div class="ico">
    <i class="fas fa-bars"><img width="48px" height="48px" src="../../assets/iconos/menu.png" alt="icono menu"></i>
  </div>
  <i class="fas fa-times"><img width="48px" height="48px" src="../../assets/iconos/multiplicar.png" alt="icono menu"></i>
  <nav>
    <ul>
      <li class="">
        <a class="nav-links" aria-current="page" routerLink="/">Inicio</a>
      </li>
      <li class="li">
        <a class="nav-links" aria-current="page" href="#proyectos">Proyectos</a>
      </li>
      <li class="li">
        <a class="nav-links" aria-current="page" routerLink="/curri">Curriculum</a>
      </li>
      <li class="li">
        <a class="nav-links" aria-current="page" routerLink="/mas">Más</a>
      </li>
    </ul>
  </nav>
</div>
