

<div class="respmenu">
  <input  type="checkbox" (click)="isCh()">
  <div class="ico">
    <i [ngClass]="[toogle1 ,'fas fa-bars']"><img width="48px" height="48px" src="../../assets/iconos/menu.png" alt="icono menu"></i>
  </div>
  <i [ngClass]="[toogle2 ,'fas fa-times']"><img width="48px" height="48px" src="../../assets/iconos/multiplicar.png" alt="icono menu"></i>
  <nav [class]= "toogle2">
    <ul >
      <li class="" >
        <a class="nav-links" aria-current="page" href="#" (click)="isCh()" >Inicio</a>
      </li>
      <li class="li">
        <a class="nav-links" aria-current="page" href="#proyectos" (click)="isCh()">Proyectos</a>
      </li>
      <li class="li">
        <a class="nav-links" aria-current="page" href="#skills" (click)="isCh()">Skills</a>
      </li>
      <li class="li">
        <a class="nav-links" aria-current="page" href="#" (click)="isCh()">Más</a>
      </li>
    </ul>

  </nav>
</div>
