
<app-menu-h></app-menu-h>


<main id="main">
  <div class="cont">
    <div class="head-f">
      <h2>Formulario de Contacto</h2>
    </div>
    <form (ngSubmit)="onSubmit(formEmail)" #formEmail="ngForm">
      <label for="nombre">Nombre<span>*</span></label>
      <input type="text" name="nombre" id="nombre" placeholder="Nombre o Empresa" required [(ngModel)]="nombre">

      <label for="email">Email<span>*</span></label>
      <input type="text" name="email" id="email" placeholder="Email - correo" required [(ngModel)]="
      email"  pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}">

      <label for="asunto">Telefono</label>
      <input type="tel" name="telefono" id="telefono" placeholder="N de contacto"  [(ngModel)]="telefono">

      <label for="asunto">Asunto</label>
      <input type="text" name="asunto" id="asunto" placeholder="Motivo del correo"  [(ngModel)]="asunto">

      <label for="mensaje">Mensaje<span>*</span></label>
      <textarea name="mensaje" id="mensaje" cols="30" rows="10" [(ngModel)]="mensaje" required></textarea>

      <div *ngIf="nombre && email && mensaje" class="input">
        <input  type="submit" value="Enviar">
      </div>
    </form>
  </div>
</main>
