.content-nav {
  width: 100%;
  height: auto;
  z-index: 101;
  overflow: hidden;
}
.icono, .sub{
  width: auto;
  height: 110px;
}
.nav{
  overflow: hidden;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  z-index: 101;
  height: 110px;
}
.ul-nav{
  font-family: 'Roboto Slab';
  display: flex;
  list-style: none;
}
.ul-nav li{
  margin: 10px;
}
.ul-nav li a{
  /*color: #5c5a59;*/
  color: white;
}
.drako{

  width: 255px;
  height: 255px;
  border-radius: 50%;
  position: relative;
  left: 100px;
  border: double 26px;
  z-index: 100;
  cursor: pointer;
}
.drako:hover{
  content: url('../../assets/whap.jpeg');
  height: 255px;
  width: auto;
  border-radius: 0px;
  padding: 0px 45px;
  border: solid;
  background-color: white;
}
.cont{
  width: 100%;
  position: relative;
  height: auto;
  overflow: hidden;
}
.cont-banner{
  width: 100%;
  position: relative;
}
.banner{
  width: 100%;
  animation: zoom  4s linear infinite;
}
.perfil {
  display: flex;
  position: relative;
  top: -13vw;
}

@keyframes zoom{

  0%{
    transform: scale(1.1);
  }
  35%{
    transform: scale(1);
  }
  65%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.1);
  }
}


@media screen and (max-width: 600px) {
  .ul-nav{
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .drako{
    left: auto;
    right: auto;
  }
  .perfil{
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 320px) {
  .drako{
    width: 63vw;
    border: double 17px;
    height: auto;
  }
  .sub{
    height: 30vw;
  }
}
