<div class="content-nav">



  <div class="nav">
    <div class="icono">
      <div class="sub">
        <img width="auto" height="100%" src="../../assets/logoB.png" alt="logo">
      </div>
    </div>
    <nav>

      <ul class="ul-nav">
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/proyectos">Proyectos</a></li>
        <li><a hrouterLink="/curri">Curri</a></li>
        <li><a routerLink="/mas">Más</a></li>
      </ul>
    </nav>
  </div>

  <div class="cont">
    <div class="cont-banner">
      <img class="banner" width="100%" height="auto" src="../../assets/programmer2.jpeg" alt="banner">
    </div>
  </div>


  <div class="perfil">
    <img class="drako" src="../../assets/drako.jpeg" alt="drako">
  </div>
</div>
