<app-menu-h></app-menu-h>

<div class="main" style="z-index: 100;position: relative;top: -19vw;">

  <div id="proyectos" class="sec">
    <hr>
    <h2>PROYECTOS</h2>
    <hr>
    <div class="container">
      <div class="proy">
        <div class="img">
          <img src="../../assets/paginas/pitchtempo.com.png" alt="">
        </div>
        <div class="body-p">
          <div class="ct" >
            <div class="cabecera">
              <h2>PITCH TEMPO</h2>
              <a href="https://pitchtempo.com" target="_blank" rel="noopener noreferrer">
                <strong>www.pitchtempo.com</strong>
              </a>
            </div>

            <h3>Tags :</h3>
            <ul>
              <li>FrameWork: Angular Universal - SSR</li>
              <li>CMS incluido</li>
              <li>Data Base: Firebase, Firebase-Storage</li>
              <li>Deploy: Firebase-hosting</li>
              <li>Auth: Firebase-Auth</li>
              <li>Seo: Meta-etiquetas dinámicas y microdatos</li>
              <li>Responsive Desing</li>
              <li>MicroService</li>
              <li><strong>¡EN CONSTRUCCION!</strong></li>
            </ul>

            <p>

            </p>
          </div>
        </div>
      </div>



    </div>
    <div class="container">
      <div class="proy">
        <div class="img">
          <img src="../../assets/paginas/lanaciont.png" alt="">
        </div>
        <div class="body-p">
          <div class="ct" >
            <div class="cabecera">
              <h2>LA NACION DEL DOMINIO</h2>
              <a href="https://nacion-dominio.web.app" target="_blank" rel="noopener noreferrer">
                <strong>nacion-dominio.web.app</strong>
              </a>
            </div>

            <h3>Tags :</h3>
            <ul>
              <li>FrameWork: Angular Universal -SSR</li>
              <li>Data Base: Firebase</li>
              <li>Deploy: Firebase-hosting</li>
              <li>Auth: Firebase-Auth</li>
              <li>Responsive Desing</li>
              <li>MicroService</li>
              <li><strong>¡EN CONSTRUCCION!</strong></li>
            </ul>
            <p>

            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="proy">
        <div class="img">
          <img src="../../assets/paginas/drako-db-front.vercel.app.png" alt="">
        </div>
        <div class="body-p">
          <div class="ct" >
            <div class="cabecera">
              <h2>DRAKO DB</h2>
              <a href="https://drako-db-front.vercel.app" target="_blank" rel="noopener noreferrer">
                <strong>drako-db-front.vercel.app</strong>
              </a>
            </div>

            <h3>Tags :</h3>
            <ul>
              <li>FrameWork: React</li>
              <li>Web tipo fronent </li>
              <li>Deploy: Vercel / Now </li>
              <li>Data Base: MongoDB</li>
              <li>Auth: JasonWebTokens</li>
              <li>Responsive Desing</li>
              <li>PWA</li>
            </ul>
            <p>

            </p>
          </div>
        </div>
      </div>

    <div class="container">
      <div class="proy">
        <div class="img">
          <img src="../../assets/paginas/alfa-live.herokuapp.com-emitir.html.png" alt="">
        </div>
        <div class="body-p">
          <div class="ct" >
            <div class="cabecera">
              <h2>ALFA STREAM</h2>
              <a href="https://alfa-live.herokuapp.com/emitir.html" target="_blank" rel="noopener noreferrer">
                <strong>alfa-live.herokuapp.com</strong>: Trasmitir en vivo
              </a>
              <hr>
              <a href="https://alfa-live.herokuapp.com" target="_blank" rel="noopener noreferrer">
                <strong>alfa-live.herokuapp.com</strong>: Visualizar stream
              </a>
            </div>

            <h3>Tags :</h3>
            <ul>
              <li>JS vanila y Node</li>
              <li>Web tipo live stream </li>
              <li>Web app en tiempo real-SOCKET.IO</li>
              <li>Deploy: Heroku </li>
              <li>Responsive Desing</li>
            </ul>
            <p>

            </p>
          </div>
        </div>
      </div>


    <div class="container">
      <div class="proy">
        <div class="img">
          <img src="../../assets/paginas/d-jNGOblogxw.herokuapp.com.png" alt="">
        </div>
        <div class="body-p">
          <div class="ct" >
            <div class="cabecera">
              <h2>BLOG - XW</h2>
              <a href="https://blogxw.herokuapp.com" target="_blank" rel="noopener noreferrer">
                <strong>blogxw.herokuapp.com</strong>
              </a>
            </div>
            <h3>Tags :</h3>
            <ul>
              <li>FrameWork: DJango</li>
              <li>Web tipo Blog </li>
              <li>Deploy: Heroku</li>
              <li>Data Base: PosgreSQL</li>
            </ul>
            <p>

            </p>
          </div>
        </div>
      </div>



    </div>
  </div>

  <div class="sec">
    <hr>
    <h2>SKI<span>LL</span>S</h2>
    <hr>
    <div class="container">

    </div>
  </div>

</div>
