<app-menu-h></app-menu-h>

<div class="main" style="z-index: 100;position: relative;top: -19vw;">

  <div id="proyectos" class="sec">
    <hr>
    <h2>PROYECTOS</h2>
    <hr>
    <div class="container">
      <div class="proy">
        <div class="img">
          <img src="../../assets/paginas/pitchtempo.com.png" alt="">
        </div>
        <div class="body-p">
          <h3>PITCH TEMPO</h3>
          <p>

          </p>
        </div>
      </div>



    </div>
    <div class="container">
      <div class="proy">
        <div class="img">
          <img src="../../assets/paginas/lanaciont.png" alt="">
        </div>
        <div class="body-p">
          <h3>LA NACION DEL DOMINIO</h3>
          <p>

          </p>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="proy">
        <div class="img">
          <img src="../../assets/paginas/drako-db-front.vercel.app.png" alt="">
        </div>
        <div class="body-p">
          <h3>DRAKO DB</h3>
          <p>

          </p>
        </div>
      </div>


    <div class="container">
      <div class="proy">
        <div class="img">
          <img src="../../assets/paginas/d-jNGOblogxw.herokuapp.com.png" alt="">
        </div>
        <div class="body-p">
          <h3>BLOG D-JANGO</h3>
          <p>

          </p>
        </div>
      </div>



    </div>
  </div>

  <div class="sec">
    <hr>
    <h2>SKI<span>LL</span>S</h2>
    <hr>
    <div class="container">

    </div>
  </div>

</div>
