.main{
  width: 100%;
}
.sec{
  text-align: center;
}
.sec h2{
  font-family: CinzelD;
  font-weight: 800;
  font-size: 186%;
  padding: .5rem;
  background-image: linear-gradient(to right,transparent,#d7c90a,transparent);
  text-shadow: 0px 0px 9px white;
}
.sec h2 span {
  font-family: Cinzel;
}
hr{
  height: .1rem;
  max-width: 100%;
  border: 0;
  background-image: linear-gradient(to right,transparent,white,transparent);
}
.proy{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 1rem;
}
.img{
  width: 50%;
  overflow: hidden;
  max-height: 400px;
}
.img img{
  width: 100%;
  height: auto;
}
.body-p {
  width: 50%;
  border-radius: 10px;
}
.ct{
  height: calc(100% - 32px);
  margin: 0 1rem;
  background: rgba(255,255,255, 0.5);
  padding: 1rem;
  border-radius: 10px;
}
.ct ul{
  font-family: 'Roboto Slab';
}
.body-p h3{
  font-size: 140%;
  font-family: 'Roboto Slab';
}
.cabecera{
  background-color: white;
  padding: .5rem 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}
.cabecera strong{
  color: goldenrod;
}
.cabecera h2{
  font-family: CinzelD;
  font-weight: 800;
  font-size: 155%;
  padding: .5rem;
  background-image: linear-gradient(to right,transparent,#000,transparent);
  text-shadow: 0px 0px 9px white;
}

.container2{
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.skill{
  margin: 1rem;
  width: 7rem;
  max-height: 9rem;
}
.skill img{
  height: 100%;
  width: 100%;
}
.container2 h3{
  font-family: 'Cinzel';
  text-align: center;
  font-size: 90%;
  color: white;
  text-shadow: 2px 2px 6px black;
  display: none;
  justify-content: center;
}
.cont_text{
  height: 18px;
  width: auto;
}
.skill:hover {
  display: flex!important;
  flex-direction: column;
  transform: translateY(-6px);
}
.skill:hover > .cont_text h3 {
  display: block;
}
.skill:hover > img {
  box-shadow: 5px 6px 8px 0px;
}

@media screen and (max-width: 770px) {
  .proy{
    flex-direction: column;
  }
  .body-p, .img{
    width: 100%;
  }
  .container2{
    padding: 3rem 1rem;
  }
  .skill{
    width: 5.5rem;
    height: 5.5rem;
  }
}
@media screen and (max-width: 480px) {
  .skill{
    width: 4.5rem;
    height: 4.5rem;
  }
}
